<div class="row">
    <article class="twelve cell vertical-spacing">
        <div>
            <h3><i18n>themes.title</i18n></h3>
        </div>

        <div ng-repeat="theme in themes" class="themes-list">
            <label for="[[theme.parent]]" class="theme">
                <input id="[[theme.parent]]" type="radio" name="theme-account" ng-model="selectedTheme" value="[[theme.child]]" ng-change="setThemePreferences(theme.child)" />
                <span translate content="[[theme.parent]]"></span>
                <img skin-src="/img/illustrations/[[theme.parent]].png" />
            </label>
        </div>
    </article>
</div>
